@media (max-width: 1440px){
    .element_icon_2{
        right: 0;
    }
    .element_icon_3{
        bottom: 75px;
    }
    .element_icon_4 {
        display: none;
    }
    .element_icon_6{
        bottom: 100px;
        right: 0;
    }
    .element_icon_1 {
        top: 0;
    }
}

@media (max-width: 1400px){
    .element_icon_2{
        top: -40px;
    }
}

@media (max-width: 1300px){
    .about__middle {
        margin-left: 20px;
    }
    .about__list-inner{
        flex-direction: row;
        max-width: 600px;
        margin: auto;
        justify-content: space-between;
    }
    .list__half{
        flex-direction: column;
    }
    .circle__img{
        display: none;
    }
    .why__createx-img{
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 1200px) {
    .about{
        margin-bottom: 50px;
    }
    .about__inner{
        gap: 100px;
    }
    .about__middle {
        flex-direction: column-reverse;
        gap: 60px;
        margin: 0;
    }
    .about__column{
        margin: auto;
        align-items: center;
    }
    .about__column-upper {
        align-items: center;
    }
    .play__items{
        flex-direction: column;
    }
    .about__title{
        text-align: center;
        max-width: none;
        margin: 0 20px;
    }
    .about__img{
        max-width: 50%;
        margin: auto;
    }
    .element_icon_3{
        display: none;
    }
    .why__createx-inner{
        flex-direction: column;
        gap: 50px;
    }
    .why__createx-img{
        margin: auto;
    }
    .why__createx-column{
        margin: auto;
    }
}

@media (max-width:1000px){
    .element_icon_6,
    .element_icon_5,
    .why__createx-img{
        display: none;
    }
 
    .card__text-column{
        width: 60%;
    }
    .featured__card-credits{
        font-size: 14px;
    }
}

@media (max-width:991px) {
    .btns__right {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        margin-top: 35px;
    }

    .testttt {
        flex-direction: column-reverse;
        gap: 35px;
    }
    .logo{
        margin: 0 40px;
    }
}

@media (max-width:900px){
    
    
}
@media (max-width: 768px) {
    .featured__card {
        flex-direction: column;
    }
    .featured__card-body {
        gap: 10px;
    }
    .card__text-column {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .about__list-inner{
        margin: 0 50px;
    }
}

@media (max-width: 600px){
    .about__list-inner{
        flex-direction: column;
    }
    .list__half{
        align-items: center;
    }

}

@media (max-width: 500px) {
    .about__title {
        font-size: 45px;
        line-height: 50px;
    }
    .btn-danger,
    .btn-outline-danger{
        width: fit-content;
    }
    .about{
    padding-top: 0px;
    }
    .about__inner {
        gap: 50px;
    }
    .about__list-inner {
        gap: 10px;
    }
    .list__half{
        gap: 10px;
    }
    .element_icon{
        display: none;
    }
    .about__list-num {
        font-size: 30px;
        line-height: 35px;
    }
    .featured__courses-middle{
        flex-direction: column;
    }
    .featured__card-body{
        align-items: center;
    }
    .featured__card-subtitle {
        font-size: 23px;
        line-height: 25px;
    }
    .featured__card-title {
        font-size: 28px;
        text-align: center;
    }
}

@media (max-width: 350px){
    .about__title {
        font-size: 20px;
        line-height: 25px;
    }
    
}