@media (max-width: 1440px){
    .element_icon_2{
        right: 0;
    }
    .element_icon_3{
        bottom: 75px;
    }
    .element_icon_4 {
        display: none;
    }
    .element_icon_6{
        bottom: 100px;
        right: 0;
    }
    .element_icon_1 {
        top: 0;
    }
    .events__element1,
    .events__element2{
        display: none;
    }
}

@media (max-width: 1400px){
    .element_icon_2{
        top: -40px;
    }
    .btn-about-us{
        width: max-content;
    }
}

@media (max-width: 1300px){
    .about__middle {
        margin-left: 20px;
    }
    .about__list-inner{
        flex-direction: row;
        max-width: 600px;
        margin: auto;
        justify-content: space-between;
    }
    .list__half{
        flex-direction: column;
    }
    .circle__img{
        display: none;
    }
    .why__createx-img{
        width: 50%;
        height: 50%;
    }
    .certificate__img{
        right: 0;
    }
    .blog__image{
        width: 370px;
    }
    .subscribe__svg{
        width: 220px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .subscribe__svg-2{
        display: none;
    }
}

@media (max-width: 1200px) {
    .about{
        margin-bottom: 50px;
    }
    .about__inner{
        gap: 100px;
    }
    .about__middle {
        flex-direction: column-reverse;
        gap: 60px;
        margin: 0;
    }
    .about__column{
        margin: auto;
        align-items: center;
    }
    .about__column-upper {
        align-items: center;
    }
    .play__items{
        flex-direction: column;
    }
    .about__title{
        text-align: center;
        max-width: none;
        margin: 0 20px;
    }
    .about__img{
        max-width: 50%;
        margin: auto;
    }
    .element_icon_3{
        display: none;
    }
    .why__createx-inner{
        flex-direction: column;
        gap: 50px;
    }
    .why__createx-img{
        margin: auto;
    }
    .why__createx-column{
        margin: auto;
    }
    .benefits__middle-img{
        width: 40%;
    }
    .benefits-link{
        padding: 10px 40px;
    }
    .certificate__inner{
        flex-direction: column;
        gap: 40px;
    }
    .certificate__items{
        max-width: none;
        align-items: center;
    }
    .certificate__img{
        left: 0;
        margin: auto;
    }
    .certificate__subtitle,
    .certificate__title,
    .certificate__text{
        text-align: center;
    }
    .certificate{
        padding-bottom: 380px;
    }
    .blog__image{
        width: 310px;
    }
    .footer__inner{
        flex-direction: column;
    }
    .sign__up-column,
    .footer__createx{
        align-items: center;
    }
    .footer__createx-paragraph{
        text-align: center;
    }
    .footer__content,
    .footer__socials{
        justify-content: space-evenly;
        gap: 0;
    }
    .footer__createx-info{
        gap: 30px;
    }
}

@media (max-width:1000px){
    .element_icon_6,
    .element_icon_5,
    .why__createx-img{
        display: none;
    }
 
    .card__text-column{
        width: 60%;
    }
    .featured__card-credits{
        font-size: 14px;
    }
    .benefits-link{
        padding: 10px 10px;
    }
    .blog__middle{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .blog__image{
        width: 500px;
    }
}

@media (max-width:991px) {
    .btns__right {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        margin-top: 35px;
    }

    .testttt {
        flex-direction: column-reverse;
        gap: 35px;
    }
    .logo{
        margin: 0 40px;
    }
}


@media (max-width: 768px) {
    .featured__card {
        flex-direction: column;
    }
    .featured__card-body {
        gap: 10px;
    }
    .card__text-column {
        width: 100%;
    }
    .benefits__link-text{
        display: none;
    }
    .benefits-link{
        padding: 20px 50px;
    }
    .benefits__link-icon{
        scale: 2;
    }
    .nav-link.active>.benefits__link-icon>path {
        fill: rgb(255, 255, 255);
    }
    .nav-tabs .nav-link.active{
        background-color: rgba(255, 66, 66, 1);
        border: none;
    }
    .benefits__middle-img{
        display: none;
    }
}

@media (max-width: 700px) {
    .about__list-inner{
        margin: 0 50px;
    }
    .an__event{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .an__event-text{
        flex-direction: column;
        align-items: center;
    }
    .an-event__title{
        text-align: center;
    }
    .an-event__subtitle{
        text-align: center;
    }
    .certificate__img{
        width: 70%;
    }
    
}

@media (max-width: 600px){
    .about__list-inner{
        flex-direction: column;
    }
    .list__half{
        align-items: center;
    }
    .benefits__link-icon{
        scale: 150%;
    }
    .benefits-link {
        padding: 20px 45px;
    }
    .blog__image {
        width: 400px;
    }
    .footer__content{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer__column{
        align-items: center;
    }
    .footer__column-list{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 500px) {
    .about__title {
        font-size: 45px;
        line-height: 50px;
    }
    .btn-danger,
    .btn-outline-danger{
        width: fit-content;
    }
    .about{
    padding-top: 0px;
    }
    .about__inner {
        gap: 50px;
    }
    .about__list-inner {
        gap: 10px;
    }
    .list__half{
        gap: 10px;
    }
    .element_icon{
        display: none;
    }
    .about__list-num {
        font-size: 30px;
        line-height: 35px;
    }
    .featured__courses-middle{
        flex-direction: column;
    }
    .featured__card-body{
        align-items: center;
    }
    .featured__card-subtitle {
        font-size: 23px;
        line-height: 25px;
    }
    .featured__card-title {
        font-size: 28px;
        text-align: center;
    }
    .featured__item{
        margin: 0 40px;
    }
    .benefits-link {
        padding: 20px 25px;
    }
    .featured__img{
        height: 100%;
    }
    .certificate__logo-img{
        width: 30%;
    }
    .certificate__bottom{
        justify-content: center;
    }
    .blog__image {
        width: 300px;
    }
    .blog__top{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .subscribe__middle{
        flex-direction: column;
    }
    .subscribe__input-email{
        width: auto;
    }
    .subscribe__title{
        font-size: 30px;
        line-height: 35px;
    }
    .subscribe__svg{
        display: none;
    }
    .subscribe__inner{
        gap: 30px;
    }
    .footer__column-list{
        flex-direction: column
    }
    .footer__lower-inner{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .footer__lower-text{
        justify-content: center;
    }
    .footer__lower-text--part{
        font-size: 10px;
    }
    .about__btns{
        flex-direction: column;
        width: 100%;
    }
    .btn-outline-danger,
    .btn-danger{
        width: 100%;
    }
    .featured__courses-top{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .featured__top-titles{
        align-items: center;
    }
}

@media (max-width: 350px){
    .about__title {
        font-size: 20px;
        line-height: 25px;
    }
    .blog__image {
        width: 250px;
    }
    
}