@media (max-width: 1200px) {
    .about__middle {
    flex-direction: column-reverse;
}
}

@media (max-width:991px) {
    .btns__right {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        margin-top: 35px;
    }

    .testttt {
        flex-direction: column-reverse;
        gap: 35px;
    }
}



@media (max-width: 768px) {}

@media (max-width: 574px) {}