* {
    box-sizing: border-box;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}


ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.mb180 {
    margin-bottom: 180px;
}

.mb120 {
    margin-bottom: 120px;
}

.p0 {
    padding: 0;
}

.container {
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header {
    background: RGB(254, 221, 209);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.btns__left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.toggler__menu {
    display: flex;
    flex-direction: column;
}

.navbar-toggler>svg {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
}

.logo {
    margin: 0;
}

.header-tabs {
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    transition: all 0.3s;
    padding: 0;
}

.nav-link:hover {
    color: rgba(255, 63, 58, 1);
}

.header_nav {
    align-items: center;
    display: flex;
    gap: 40px;
}

.btns__right {
    display: flex;
    align-items: center;
    gap: 36px;
}

.btn-danger {
    width: 207px;
    height: 52px;
    border-radius: 4px;
    background: linear-gradient(45.00deg, rgba(255, 63, 58, 1), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, 1) 100%);
    color: white;
    border: none;
    transition: all ease .2s;
}

.btn-danger:hover {
    background: linear-gradient(45.00deg, rgb(165, 46, 86), rgb(180, 100, 54) 100%);
    transition: all ease .2s;
}

.register__header-tab {
    display: flex;
    gap: 16px;
}

.register__header-tab,
.register__icon {
    transition: none !important;
}


.header-tabs:hover>.register__icon>path {
    fill: rgba(255, 63, 58, 1);
}

.about__middle {
    display: flex;
    justify-content: space-between;
}

.about {
    position: relative;
    background: var(--btn-gradient, linear-gradient(45.00deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2) 100%));
    padding-top: 100px;
    padding-bottom: 80px;
}

.element_icon {
    position: absolute;
}

.element_icon_1 {
    top: 61px;
    left: 82px;
}


.element_icon_2 {
    top: -130px;
    right: 96px;
}

.element_icon_3 {
    top: auto;
    left: -110px;
    bottom: -100px;
    opacity: 0.3;
}

.element_icon_4 {
    left: 735px;
    top: 415px;
}

.element_icon_5 {
    top: 686px;
    left: 670px;
}

.element_icon_6 {
    bottom: 130px;
    right: -30px;
}

.nav__register {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__column-upper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.play__items {
    display: flex;
    align-items: center;
}

.btn__play {
    position: relative;
    width: 84px;
    height: 84px;
    padding: 16px;
    border-radius: 45px;
    border: none;
    background: rgba(255, 64, 58, 0.13);

}

.play__img {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: all ease .2s;
}

.btn__play:hover {
    background: rgba(255, 64, 58, 0.50);
    transition: all ease .2s;
}

.btn__play:hover>.play__img {
    width: 60px;
    height: 60px;
    transition: all ease .2s;

}

.play__text {
    font-weight: 700;
}

.about__inner {
    display: flex;
    flex-direction: column;
    gap: 189px;
}

.about__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    letter-spacing: 1px;
    text-align: left;
    max-width: 496px;
    max-height: 249px;
    color: rgba(30, 33, 44, 1);
}

.btn-outline-danger {
    width: 148px;
    height: 52px;
    border: linear-gradient(45.00deg, rgba(255, 63, 58, 1), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, 1) 100%);
    color: linear-gradient(45.00deg, rgba(255, 63, 58, 1), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, 1) 100%);
    font-weight: 700;
}

.btn-outline-danger:hover {
    border: linear-gradient(45.00deg, rgba(255, 63, 58, 1), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, 1) 100%);

}

.about__btns {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.btn-about-us {
    color: rgba(255, 63, 58, 1);
    border: 1px solid rgba(255, 63, 58, 1);
    transition: all ease .2s;
    min-width: max-content;
}

button.btn-outline-danger:hover {
    background: linear-gradient(45.00deg, rgba(255, 63, 58, 1), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, 1) 100%);
    transition: all ease .2s;
}

.about__list-inner {
    display: flex;
    align-items: center;
    gap: 66px;
}

.list__half {
    display: flex;
    gap: 66px;
}

.about__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.about__list-num {
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    color: rgba(30, 33, 44, 1);
}

.about__list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(30, 33, 44, 1);
}

.why__createx-inner {
    display: flex;
    gap: 135px;
}

.why__createx-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.why__createx-upper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.why__createx-subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.why__createx-title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;
}

.why__createx-items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.items__row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.featured__courses-inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.featured__courses-middle {
    display: flex;
    gap: 30px;
}

.featured__column-left,
.featured__column-right {
    gap: 30px;
}

.checkmark__img {
    margin-top: 2px
}

.items__text {
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.featured__courses-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.featured__top-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.card:hover {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.featured__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.featured__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;
}

.featured__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.featured__card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured__card-subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    border-radius: 4px;
    padding: 1px 8px;
    max-width: max-content;
}

.card__susbtitle-marketing {
    background: rgba(3, 206, 164, 1);
}

.card__susbtitle-hr {
    background: rgba(248, 152, 40, 1);
}

.card__susbtitle-management {
    background: rgba(90, 135, 252, 1);
}

.card__susbtitle-design {
    background: rgba(245, 47, 110, 1);
}

.card-title {
    margin: 0;
}

.featured__card-title {
    color: rgba(30, 33, 44, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.featured__bottom-row {
    display: flex;
    gap: 8px;
    align-items: center;
}

.featured__card-number {
    color: rgba(255, 66, 66, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.featured__card-credits {
    color: rgba(120, 122, 128, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    border-left: 1px solid;
    padding-left: 7px;
}

.our__benefits-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    gap: 8px;
}

.our__benefits-subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.our__benefits-title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
}

.nav-tabs .nav-link:hover {
    color: rgba(255, 66, 66, 1);
    border: 1px solid rgba(255, 66, 66, 1);
    border-radius: 4px;
}

.nav-tabs .nav-link.active {
    border: 1px solid rgba(255, 66, 66, 1);
    color: rgba(255, 66, 66, 1);
}

.nav-link:hover>.benefits__link-icon>path {
    fill: rgba(255, 66, 66, 1);
}

.nav-link.active>.benefits__link-icon>path {
    fill: rgba(255, 66, 66, 1);
}

.benefits-tab-button {
    border: 1px solid transparent;
    transition: all 0.3s;
}

.benefits-link {
    color: rgba(154, 156, 165, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    transition: all 0.3s;
    padding: 10px 70px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-content {
    margin-top: 60px;
}

.benefits__content {
    display: flex;
    align-items: center;
    gap: 135px;
}

.benefits__content-reverse {
    flex-direction: row-reverse;
}

.benefits__tab-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.benefits__middle-title {
    color: rgba(30, 33, 44, 1);
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
}

.benefits__middle-text {
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.benefits__tabs-items {
    justify-content: center;
}

.events {
    background: var(--btn-gradient, linear-gradient(45.00deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2) 100%));
    position: relative;
}

.events__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
}

.events__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.events__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
}

.events__list {
    display: grid;
    gap: 24px;
}

.an__event {
    background-color: #fff;
    padding: 32px 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.an__event:hover {
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.an__event-text {
    display: flex;
    gap: 40px;
}

.event__date {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: max-content;
}

.event__date-number {
    color: rgba(255, 63, 58, 1);
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: left;
}

.event__date-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event__month {
    color: rgba(30, 33, 44, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.event__time {
    color: rgba(120, 122, 128, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.event__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.an-event__title {
    color: rgba(30, 33, 44, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.an-event__subtitle {
    color: rgba(120, 122, 128, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.events__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.events__bottom-text {
    color: rgba(30, 33, 44, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.events__element1 {
    bottom: 10px;
    left: 40px;
}

.events__element2 {
    bottom: 650px;
    left: 1470px;
    opacity: 0.3;
}

.certificate {
    margin-bottom: 75px;
}

.certificate__inner {
    display: flex;
    position: relative;
    gap: 135px;
}

.certificate__items {
    display: flex;
    flex-direction: column;
    max-width: 392px;
}

.certificate__column {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.certificate__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.certificate__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.certificate__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;
}

.certificate__text {
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.certificate__bottom {
    display: flex;
    align-items: center;
}

.certificate__img {
    position: absolute;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.our__team {
    background-color: rgba(244, 245, 247, 1);
    padding-bottom: 180px;
    padding-top: 166px;
}

.team__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.team__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
}

.our__team-inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.our__team-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our__team-items {
    display: flex;
    justify-content: space-between;
}

.team__img {
    width: 100%;
}

.team__card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.team__card-top {
    background-color: rgba(255, 207, 45, 1);
    width: fit-content;
    padding: 20px 20px 0 20px;
    border-radius: 4px;
}

.team__card-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.team__card-title {
    color: rgba(66, 69, 81, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.team__card-descr {
    color: rgba(120, 122, 128, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.slick-prev {
    background-image: url();
}

.testimonials {
    background-color: rgba(244, 245, 247, 1);
    padding-bottom: 140px;
}

.testimonials__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.testimonials__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.testimonials__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
}

.testimonisals__carousel {
    display: flex;
    ;
}

.testimonials__card {
    background: white;
    display: flex;
    gap: 30px;
    padding: 64px 105px;
    max-width: 1020px;
    margin: 0 auto;
    border-radius: 4px;

}

.testimonials__card-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonials__card-braces {
    height: 20px;
    width: min-content;
}

.testimonials__card-text {
    color: rgba(66, 69, 81, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.testimonials__card-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.testimonials__photo-titles {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.testimonials__card-name {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

.testimonials__card-title {
    color: rgba(120, 122, 128, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.blog__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blog__top-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.blog__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: left;
}

.blog__info {
    display: flex;
    flex-direction: row;
}

.blog__info-icon {
    margin-right: 8px;
}

.blog__info-text {
    color: rgba(120, 122, 128, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
}

.blog__middle {
    display: flex;
    justify-content: space-between;
}

.blog__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: min-content;
    position: relative;
}

.blog__content-type {
    position: absolute;
    background-color: #fff;
    top: 12px;
    left: 12px;
    display: flex;
    padding: 2px 8px;
    border-radius: 4px;
    gap: 4px;
    align-items: center;
}

.content__type-text {
    color: rgba(66, 69, 81, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.blog__card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divider {
    border-right: 1px solid rgba(120, 122, 128, 1);
    padding-right: 12px;
    margin-right: 12px;
}

.blog__card-title {
    color: rgba(30, 33, 44, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.blog__card-descr {
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.btn__blog-card {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 0;
    width: min-content;
}

.btn__blog-card:hover>.blog__card-btn--text {
    color: rgba(255, 63, 58, 1)
}

.blog__card-btn--text {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
}

.subscribe {
    background: var(--btn-gradient, linear-gradient(45.00deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2) 100%));
    padding-bottom: 180px;
    padding-top: 120px;
    position: relative;
}

.subscribe__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.subscribe__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.subscribe__subtitle {
    color: rgba(30, 33, 44, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe__title {
    color: rgba(30, 33, 44, 1);
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
    max-width: 810px;
}

.subscribe__middle {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.subscribe__input-email {
    box-sizing: border-box;
    border: 1px solid rgba(215, 218, 221, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    padding: 16px;
    width: 390px;
}

.subscribe__input-email::placeholder {
    color: rgba(154, 156, 165, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.subscribe__change-width {
    width: 154px;
}

.subscribe__svg {
    position: absolute;
    bottom: 0;
}

.subscribe__svg-2 {
    right: 0;
}

.footer {
    background-color: rgba(30, 33, 44, 1);
}

.footer__inner {
    display: flex;
    gap: 80px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__content {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.footer__createx {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.createx__footer-img {
    width: 130px;
    height: 22px;
}

.footer__createx-info {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.footer__createx-paragraph {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    opacity: 0.6;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 21px;
}

.social__btn {
    padding: 0;
    opacity: 0.6;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__column-title {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    width: max-content;
}

.footer__column-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__column-btn,
.footer__contacts-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 0;
    opacity: 0.6;
    width: max-content;
}

.footer__contacts-link:hover {
    color: #fff;
    opacity: 100%;
}

.btn:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 100%;
}

.sign__up-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sign__up {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sign__up-input {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px;
}

.sign__up-descr {
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}

.footer__lower {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px 0;
}

.footer__lower-inner {
    display: flex;
    justify-content: space-between;
}

.footer__lower-text {
    display: flex;
    gap: 4px;
    width: 290px;
}

.footer__lower-text--part {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.footer__lower-button {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    padding: 0;
}

.modal-dialog {
    max-width: fit-content;
}



.modal-content {
    width: fit-content;
}

.carousel-indicators {
    display: flex;
    gap: 12px;
    top: 378px;
}

.carousel-indicators [data-bs-target] {
    border: 3px solid rgba(66, 69, 81, 1);
    width: 30px;
    height: 0;
    border-radius: 50px;
}



button.team__arrow-next,
button.team__arrow-prev {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: -96px;
    opacity: 100%;
}

button:hover.custom__arrow-next,
button:hover.custom__arrow-prev {
    background-color: rgba(255, 63, 58, 1);
}

button:hover.custom__arrow-next>svg>path,
button:hover.custom__arrow-prev>svg>path {
    fill: #ffffff;
}

button.team__arrow-prev {
    left: auto;
    right: 45px;
}

button.testimonials__next,
button.testimonials__prev {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 148px;
    opacity: 100%;
}

.slick-prev.slider__arrow-left,
.slick-next.slider__arrow-right {
    top: -60px;
    right: 0;
    position: absolute;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.slick-prev.slider__arrow-left {
    right: 45px;
    left: auto;
}

.slick-prev:hover.slider__arrow-left,
.slick-next:hover.slider__arrow-right {
    background-color: rgba(255, 63, 58, 1);
}

.slick-prev.slider__arrow-left.slick-arrow::before {
    display: none;
}

.slick-next.slider__arrow-right.slick-arrow::before {
    display: none;
}

button:hover.slider__arrow-left>svg>path,
button:hover.slider__arrow-right>svg>path {
    fill: #fff;
}